*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url("back.jpg");
}
/* start-header */

header{
    background-color: rgb(35,47,62);
    height: 50px;
    margin-bottom: 10px;
}

.headercontent{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.title{
    cursor: pointer;
}

img{
    height: 100%;
    width: 100%;
}

.search{
    background-color: white;
    height: 20px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.searchbox{
    height: 20px;
    width: 230px;
}

input{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: white;
}

i{
    cursor: pointer;
}

/* end-header */

.content{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.image1{
    margin-bottom: 15px;
    border: rgb(146, 146, 146);
    border-style: solid;
    border-width: thin
}

img{
    height: 79%;
    width: 100%;
}


.product{
    height: 250px;
    width: 250px;
}

.buy{
    float: right;
    cursor: pointer;
}

